@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container {
  margin-bottom: 32px;
}

.container > label {
  color: var(--grey);
  font-family: Cinzel;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.container > span:nth-child(2) {
  color: var(--red);
  font-family: Cinzel;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.container > input,
.container > input[type="date"] {
  display: block;
  width: 100%;
  padding: 24px 0px;
  margin: 5px 0;
  animation: appear 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent;
  border-bottom: 1px solid #f3f2ed;
  color: #f3f2ed;
  font-family: Cinzel;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  outline: none;
}

.container > input:focus {
  outline: none;
}

.valid {
  border: 1px solid var(--grey);
  color: var(--grey);
}

.invalid {
  border: 1px solid var(--red);
  color: var(--red);
}

.container > input::placeholder,
.container > input[type="date"]::placeholder {
  color: #f3f2ed;
  font-family: Cinzel;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.3;
}

.errorMessage {
  color: red;
  font-family: Cinzel;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  animation: appear 0.2s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tip {
  color: #f3f2ed;
  font-family: Cinzel;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container > input {
    padding: 12px 0px;
    font-family: Cinzel;
    font-size: 12px;
    line-height: normal;
  }

  .container > label {
    font-size: 16px;
    line-height: 25px;
  }

  .errorMessage {
    font-size: 10px;
    line-height: 18px;
  }
}

@media screen and (max-width: 767px) {
  .container > input,
  .container > input::placeholder {
    padding: 12px 0px;
    font-size: 12px;
    line-height: normal;
  }

  .container > label {
    font-size: 16px;
    line-height: 25px;
  }

  .errorMessage {
    font-size: 10px;
    line-height: 18px;
  }
}
