.container {
  min-height: 100vh;
  background: url("../../Assets/Images/landingBg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 62px;
}

.container > h4 {
  color: #c0c0c0;
  text-align: center;
  font-family: Cinzel;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.container > P {
  color: #c6aa58;
  text-align: center;
  font-family: Cinzel;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container > h4 > span {
  color: #c6aa58;
}

.container > button {
  width: 600px;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    padding: 1rem;
    gap: 49px;
  }

  .container > h4 {
    font-size: 40px;
    line-height: normal;
  }

  .container > p {
    font-family: Cinzel;
    font-size: 20px;
  }

  .container > button {
    width: 305px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 1rem;
    gap: 49px;
  }

  .container > p {
    font-family: Cinzel;
    font-size: 20px;
  }

  .container > h4 {
    font-size: 40px;
    line-height: normal;
  }

  .container > button {
    width: 305px;
  }
}
